{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in object_list %}
        <tr>
          <td>{{ p.sku }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price }}</td>
          <td>
            <a href="{% url 'actualizar' p.id %}">Actualizar</a>
            <a href="{% url 'eliminar' p.id %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'crear' %}">Agregar producto</a>
{% endblock %}
